.c-file-panel {
  position: fixed;
  left: 25%;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.c-file-panel__container {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
