.b-button {
  padding: 0.25em;
  font-size: 1.5em;
  font-family: 'Share Tech';
  color: #fff;
  background: transparent;
  border: 2px #fff solid;
  cursor: pointer;
  display: inline-block;
  text-shadow: 0 0 0 #fff;
  -webkit-box-shadow: 0 0 0 #fff;
  box-shadow: 0 0 0 #fff;
  -webkit-transition: text-shadow 0.3s, box-shadow 0.3s;
  -moz-transition: text-shadow 0.3s, box-shadow 0.3s;
  -o-transition: text-shadow 0.3s, box-shadow 0.3s;
  -ms-transition: text-shadow 0.3s, box-shadow 0.3s;
  transition: text-shadow 0.3s, box-shadow 0.3s;
}
.b-button:hover {
  text-shadow: 0 0 5px #fff;
  -webkit-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff;
}
