@import '../../styles/common/common'

b-button_color($color) {
    color: $color;
    border-color: rgba($color,.3);

    &:hover {
        border-color: $color;
    }
}

.b-button {
    border-width: .1em;
    border-style: solid;
    padding: .25em;
    font-size: 1.5em;
    font-family: 'Share Tech';
    background: transparent;
    cursor: pointer;
    display: inline-block;

    b-button_color($color_white);
    
    transition: border-color .3s;
}

.b-button_color_white {
    b-button_color($color_white);
}

.b-button_color_black {
    b-button_color($color_black);
}