@import '../../styles/common/common'

.b-button {
    padding: .25em;
    font-size: 1.5em;
    font-family: 'Share Tech';
    color: $color_white;
    background: transparent;
    border: .1em $color_white solid;
    cursor: pointer;
    display: inline-block;
    text-shadow: 0 0 0 $color_white;
    box-shadow: 0 0 0 $color_white;

    transition: text-shadow .3s, box-shadow .3s;

    &:hover {
        text-shadow: 0 0 .3em $color_white;
        box-shadow: 0 0 .3em $color_white;
    }
}
