.b-button {
  border-width: 0.1em;
  border-style: solid;
  padding: 0.25em;
  font-size: 1.5em;
  font-family: 'Share Tech';
  background: transparent;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  border-color: rgba(255,255,255,0.3);
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.b-button:hover {
  border-color: #fff;
}
.b-button_color_white {
  color: #fff;
  border-color: rgba(255,255,255,0.3);
}
.b-button_color_white:hover {
  border-color: #fff;
}
.b-button_color_black {
  color: #000;
  border-color: rgba(0,0,0,0.3);
}
.b-button_color_black:hover {
  border-color: #000;
}
