@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech'), local('ShareTech-Regular'), url("sharetech.woff") format('woff');
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 12pt;
  font-family: 'Share Tech';
}
html *,
body * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#body {
  border: 2px #000 solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 0.5em;
  overflow: hidden;
}
#body[data-status='success'] {
  background: #dfd;
}
#body[data-status='error'] {
  background: #fdd;
}
#h1 {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 0;
  margin: 0;
}
#p {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
