.p-project-config {
  position: fixed;
  left: 0;
  top: -100%;
  height: 100%;
  width: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background: rgba(0,0,0,0.5);
  -webkit-transition: top 0.5s, opacity 0.5s;
  -moz-transition: top 0.5s, opacity 0.5s;
  -o-transition: top 0.5s, opacity 0.5s;
  -ms-transition: top 0.5s, opacity 0.5s;
  transition: top 0.5s, opacity 0.5s;
}
.p-project-config_visible_yes {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 0;
}
.p-project-config__layout {
  height: 100%;
  width: 100%;
}
.p-project-config__row_y_0 {
  height: 3em;
}
.p-project-config__row_y_1,
.p-project-config__row_y_2 {
  height: 8em;
}
.p-project-config__col_x_1 {
  padding-left: 1em;
}
.p-project-config__col_x_2 {
  padding-right: 1em;
}
.p-project-config__col_x_12 {
  padding: 0 1em;
}
.p-project-config__col_x_1,
.p-project-config__col_x_2 {
  width: 45%;
  padding-right: 5%;
}
.p-project-config__container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.p-project-config__submit {
  float: right;
  position: relative;
  left: 0;
  top: -1em;
}
.p-project-config__input.b-input_name_exception-noscan .b-input__input {
  width: 100% !important;
  position: relative;
  left: 0;
  top: 0.3em;
}
