@import '../../../styles/common/common'

$this_size = 2em;

.c-project-menu__item {
    cursor: pointer;
    height: $this_size;
    width: $this_size;
    opacity: 0.5;
    relative: top left;

    transition: opacity .3s, top .5s;
}

.c-project-menu__item:hover {
    opacity: 1;
}