.c-project-menu__item {
  cursor: pointer;
  height: 2em;
  width: 2em;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s, top 0.5s;
  -moz-transition: opacity 0.3s, top 0.5s;
  -o-transition: opacity 0.3s, top 0.5s;
  -ms-transition: opacity 0.3s, top 0.5s;
  transition: opacity 0.3s, top 0.5s;
}
.c-project-menu__item:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
