@import '../../styles/common/common'

@font-face {
    font-family: 'Share Tech';
    font-style: normal;
    font-weight: 400;
    src: local('Share Tech'), local('ShareTech-Regular'), url('../../sharetech.woff') format('woff');
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 12pt;
    font-family: 'Share Tech';

    & * {
        user-select: none;
    }
}
