.c-project-menu {
  height: 3em;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  position: absolute;
  left: 0;
  bottom: 0;
}
.c-project-menu_activated_no .c-project-menu__item_id_refresh,
.c-project-menu_activated_no .c-project-menu__item_id_configure,
.c-project-menu_activated_no .c-project-menu__item_id_remove {
  top: 5em;
  cursor: default;
}
.c-project-menu_activated_no .c-project-menu__item_id_refresh:hover,
.c-project-menu_activated_no .c-project-menu__item_id_configure:hover,
.c-project-menu_activated_no .c-project-menu__item_id_remove:hover {
  top: 5em;
  cursor: default;
}
