@import '../../../styles/common/common'

.p-project-config__header {
    color: $color_white;
}

.p-project-config__header_size_1 {
    font-size: 2.5em;
    margin: .5em 0;
}

.p-project-config__header_size_2 {
    font-size: 2em;
    margin: 0 0 .25em 0;
}